
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Stylesheet/styles.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1>Salute</h1>
    </div>
</body>
</html>
