@model Formulaire.Models.AuthInfo


<html>
<head>
    <meta charset="utf-8" name="viewport" />
    <link href="~/Stylesheets/login.css" rel="stylesheet" />
    <title>Login</title>
    <script>
        function validateForm() {
            var userID = document.getElementById('userID').value;
            var pass = document.getElementById('password').value;
            document.getElementsByClassName('Error').style.visibility = 'hidden';
            if (userID.length == 0) document.getElementById('userIdError').style.visibility = 'visible';
            if (pass.length == 0) document.getElementById('passwordError').style.visibility = 'visible';
            return (userID.length != 0 && pass.length != 0);
        }
    </script>
</head>
<body>
    <div id="form-div">
        <div id="form-header">
            <label id="LbLoginFormTitle">Login Form</label> <img id="padlockIcon" src="/Resources/cadenas.jpg" />
        </div>
        <div id="form-body">
            <!--Cette partie de text <span id="Visible" style="visibility:hidden">est visible </span> ou pas -->
            <form method="post">
                <label class="LbLoginForm">Nom:</label><input type="text" id="userID" value="@Model.userID" class="TBLoginForm" name="userID" /> <span id="userIdError" class="Error">(*)</span>  <br />
                <label class="LbLoginForm">Mot de passe:</label><input type="password" id="password" class="TBLoginForm" name="passwd" /> <span id="passwordError" class="Error">(*)</span> <br />
                <input type="submit" value="Soumettre" class="BtnLoginForm" onclick="validateForm()"/> <br />
                <span id="SummaryError" class="Error">(*) Champs obligatoires</span>
            </form>
        </div>
    </div>
</body>
</html>
