<!-- Header, banner + menu -->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Stylesheets/Header.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div>
        <header></header>
        @Html.Partial("_Navbar");
    </div>
    @RenderBody()
</body>
</html>