
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <label>Identifiant: </label>
        <input type="text" id="idTB" />
        <input class="btn btn-success" id="btnToId" />
    </div>

    <div>
        <label>Nom: </label>
        <input type="text" id="surnameTB" />
        <br />

        <label>Prenom: </label>
        <input type="text" id="nameTB" />
        <br />
        <input class="btn btn-success" id="btnToSend" />
    </div>

    <script>
        //document.addEventListener("ready", () => {

        let apiURL = "/Home/GetInfo";
        let surname = document.getElementById('surnameTB');
        let name = document.getElementById('nameTB');
        let idTB = document.getElementById('idTB');

        document.getElementById('btnToId').onclick = () => {
            if (isEverythingNumerical()) {

                name.value = "";
                surname.value = "";

                $.ajax({
                    url: apiURL + "/" + $('#idTB').val(),
                    success: function (result) {
                        surname.value = result.nom;
                        name.value = result.prenom;
                        idTB.value = "";
                    }
                }).fail(function (xhr, textStatus, errorThrown) {
                    switch (xhr.status) {
                        case 404:
                            alert("Pas de personne pour l'id renseigné");
                            break;
                        default:
                            alert("Erreur inconnue");
                            break;
                    }
                });


                //fetch(apiURL + idTB.value)
                //    .then(response => {
                //        return response.json();
                //    })
                //    .then(response => {
                //        console.log(response);
                //        surname.value = response[0].nom;
                //        name.value = response[0].prenom;
                //        idTB.value = "";
                //    });
            } else {
                alert('NO');
            }
        }

        $('#btnToSend').on('click', () => {
            if (!fieldsAreEmpty()) {
                let surnameToSend = surname.value;
                let nameToSend = name.value;
                let jsonToSend = JSON.stringify({ nom: surnameToSend, prenom: nameToSend });
                console.log(jsonToSend);
                $.ajax({
                    url: apiURL + "2/",
                    method: "POST",
                    data: jsonToSend,
                    success: function (result) {
                        alert('successfully sent');
                    },
                    dataType: "JSON"
                })
            }
        });

        function fieldsAreEmpty() {
            return surname.value == "" && name.value == "";
        }

        function isEverythingNumerical() {
            let inputContent = document.getElementById('idTB').value;
            if (isNaN(inputContent)) return false;
            else return true;
        }

            //});
    </script>
</body>
</html>
